.hema{
  background-color: #3e4581;
  color: white;
  transform: scale(1.05);
}
:root{
  --main-- :#3E4581
}
@font-face {
  font-family: "Gilroy ";
  src: url(../font/Gilroy-ExtraBold.otf);
}
ul {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;

  transition: 2s;
  margin-bottom: 40px;
}
.navbar .container {
  padding: 0;
}
.navbar img {
  margin-left: 2px;
}
.navbar button {
  height: 49px;
  background-color: #f15f57;
  color: white;
  max-width: 130px;
  font-size: 14px;
  transition: 0.2s;
  font-weight: bold;
  font-family: 'Gilroy';
}
.navbar button:hover {
  background-color: #eee;
  color: #f15f57;
  transform: scale(1.05);
  border-radius: 8px;
  border: 1px solid #f15f57;
}
.navbar-collapse {
  text-align: center;
}
.navbar-collapse ul li {
  min-width: fit-content;
}
.navbar-collapse ul li a {
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 500;
  color: var(--main--);
  transition: 0.3s;
}
.navbar-collapse ul li a:hover {
  color: #3685da;
  transform: scale(1.1);
}
.navbar-toggler[aria-expanded="true"],
.navbar-toggler:hover {
  box-shadow: 0px 0px 14px #f2857fd9;
  border-color: transparent;
  transition: 0.6s;
}
@media (max-width: 767px) {
  .navbar-collapse ul {
    margin: 18px auto;
  }
  .navbar-collapse ul li {
    margin: 4px auto;
    font-size: 18px;
  }
  .navbar button {
    background-color: #f15f57;
    color: white;
    max-width: 80%;
  }
}

/* end nav */

/* pharm */
.pharm .row {
  align-items: center;
  justify-content: center;
}
.pharm .about-pharm .title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.pharm .about-pharm .title h1 {
  font-size: 64px;
  font-weight: bold;
  color: #0056a2;
  font-family: 'Agency FB';
}
.pharm .about-pharm .text {
  color: var(--main--);
  font-size: 20px;
  font-family: 'Gilroy';
    font-weight: bold;
  margin: 0px auto 25px;
}
.pharm .about-pharm .tryit a {

  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Gilroy';
  color: var(--main--);
}
.pharm .about-pharm .go-app,
.pharm .about-pharm .eg {
  display: flex;
  align-items: center;
  gap: 13px;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
.pharm .about-pharm .go-app{
margin: 16px 0px 24px 0px;
}
.pharm .about-pharm .eg li a {
  font-family: 'Gilroy';
  margin-right: 30px;
  font-weight: 900;
  font-size: 20px;
  color: var(--main--);
}

.eg li:hover {
  transform: scale(1.1);
}

@media (max-width: 772px) {
  .pharm .row {
    text-align: center;
  }
  .pharm .about-pharm .go-app,
  .pharm .about-pharm .eg,
  .pharm .about-pharm .title {
    justify-content: center;
  }
}
/* end pharm */

/* done */
.done {
  background-color: #f8f8ff;
  margin-top: 60px;
  padding: 30px 0px;
  color: var(--main--);
  font-family:'Gilroy', sans-serif ;
}
.done .container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.done .part1 {
  text-align: center;
  max-width: 665px;
  margin-bottom: 20px;
  font-family:'Gilroy' ;
}
.part1 h1 {
  
  font-size: 60px;
  font-weight: bold;
  
}
.part1 p {
  font-size:20px ;
  font-weight:400;
  
}
.part2 {
  padding: 34px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1087px;
  background-color: #ffffff;
  border-radius: 30px;
  
  box-shadow: 0px 0px 2px #70707036;
}
.part2 .comuunity {
  min-width: fit-content;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.part2 .comuunity h2 {
  font-size: 23px;
  font-weight: bold;
}
.part2 .comuunity img {

  border-radius: 40px;
}
.part2 .line span {
  display: block;
  border-radius: 3px;
  height: 168px;
  width: 4px;
  background-color: #707070;
}
.part2 .title {
  
  max-width: 100%;
}
.part2 .title p {
 
  font-weight: 500;
  font-size: 24px;
}
.part2 .title p:first-of-type {
  margin-bottom: 0;
}

.part2 .title span {
  margin-top: 36px;
  font-weight: 900;
  font-size: 23px;
  display: block;
  letter-spacing: 0.2px;
}
@media (max-width: 992px) {
  .part2 {
    flex-direction: column;
    gap: 43px;
    padding: 34px 0px;
  }
  .part2 .line span {
   display: none;
  }
  .part2 .title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .part2 {
    margin: 0px 1px;
  
}
}
/* end done */

/* phone */
.phone {
  text-align: center;
  margin: 97px auto 70px;
  overflow: hidden;
  padding-bottom: 100px;
}
.phone h2 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 300;
  color: #3e4581;
}
.phone .but {
  margin-bottom: 55px;
}

.phone .but button {
  padding: 8px 40px;
  outline: none;
  border-radius: 5px;
  border: none;
  margin: 0px 0px 8px 15px;
  background-color: white;
  color: #3e4581;
  font-weight: 500;
  transition: 0.3s;
}


.swiper{
  padding-bottom: 50px;
}
.swiper-pagination {
  margin: 52px auto 12px;
}

span.swiper-pagination-bullet {
  width: 15px;
  height: 4px;
  border-radius: 5px;
}

.swiper-button-next, .swiper-button-prev {
  background-color: whitesmoke;
  padding: 26px;
  border-radius: 50%;
  box-shadow: 0 0 7px #0056a3;
}
.swiper-button-prev:after,  .swiper-button-next:after {
  font-size: 30px;
  content: 'prev';
  color: #3e4581;
}
.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  padding-bottom: 65px;
}
/* end phone */

/* over  */
.over {
  background-color: #f8f3ff;
  padding: 56px 0px;
  font-family: 'Gilroy', sans-serif;
  margin-bottom: 56px;
}
.over-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}
.over .one , .over .to {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  flex-wrap: wrap;
} 
.over .page {
  max-width: 337px;
}
.over .head {
  margin-bottom: 67px;
}
.over h2 {
  font-weight: bold;
  font-size: 44px;
  font-family: 'Gilroy';
}
.over h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: 'Gilroy';
}
.over p {
  font-size: 24px;
  font-weight: 300;
}
.over .to .to3 {
  text-align: center;
} 
@media (max-width: 992px) {
  .over .one , .over .to {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
  } 
  .over {
    text-align: center;
  }
  .over .page {
    max-width: 80%;
  }
}
@media (max-width: 772px) {
 
  .over p {
    margin-bottom: 45px;
  }
}
/* end over */

/* que2 */
.que2 .que2-title {
  max-width: 896px;
  display: block;
  text-align: center;
  margin: 30px auto;
  color: var(--main--);
  font-family: 'Gilroy';
}
.que2 .que2-title h1 {
  font-size: 60px;
  font-weight: bold;
}
.que2 .que2-title h2 {
  font-size: 20px;
  max-width: 612px;
  margin: 18px auto 40px;
  font-weight: 500;
}

.que2 button {
  padding: 15px 45px;
  color: white;
  background-color: #F15F57;
  border: navajowhite;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  outline: none;
}
.que2 button:hover {
  transform: scale(1.07);
  border-radius: 5px;
  background-color: #eee;
  color: #f15f57;
  border: 1px solid #f15f57;
}
@media (max-width: 772px) {
  .que2 h1 {
    font-size: 40px;
  }
}
/* end que2 */

/* project */
.project {
  text-align: center;
  margin-top: 76px;
  color: var(--main--);
}
.project h1 {
  font-family: 'Poppins';
  font-size: 52px;
  margin-bottom: 64px;
  color: var(--main--);
}
.project img {
  max-width: 100%;
  max-height: 339px;
}
.project .other h2 {
  margin-top: -30px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gilroy';
}
.project img:hover {
  transform: rotateZ(4deg) scale(1.05);
  transition: 0.4s;
  cursor: pointer;
}
/* end project */

/* footet */
.footer {
  margin: 25px auto 0px;
  color: var(--main--);
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  padding: 20px 0px 50px;
 
}
.footer .logo {
  display: flex;
  gap: 6px;
  align-items: center;
}
.footer .logo h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.footer .all-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.footer .all-link ul li {
  margin: 0px 15px;
  transition: 0.3s;
}
.footer .all-link li a {
  font-size: 14px;
  font-family: 'Poppins';
  color: #3e4581;
}
.footer .media img {
  margin: 0px 14px;
}
.footer .all-link ul li:hover {
  transform: scale(1.1);
  font-weight: bold;
}
@media (max-width: 767px) {
  .footer .all-link ul li {
    margin: 0px 5px;
  }
}
@media (max-width: 534px) {
  .footer .container {
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px 30px;
  }
}
/* end footer */
.copy {
  font-size: 12px;
  font-family: 'inter';
  color: #adadad;
}
